
@font-face {
  font-family: 'wf_a78c9531627a420980d62a77e';
  src: url('../rosie/fonts/font_heading.woff2') format('woff2');
}
@font-face {
  font-family: 'wf_fc753e3c0d77436694cab6076';
  src: url('../rosie/fonts/font_body.woff2') format('woff2');
}
@font-face {
  font-family: 'din-next-w01-light';
  src: url('../rosie/fonts/din-next-light.woff2') format('woff2');
}
@font-face {
  font-family: 'Madefor-Text';
  font-weight: 400;
  src: url('../rosie/fonts/madefor-text.woff2') format('woff2');
}
@font-face {
  font-family: 'raleway';
  font-weight: 400;
  src: url('../rosie/fonts/raleway-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'raleway-semibold';
  font-weight: 700;
  src: url('../rosie/fonts/raleway-semibold.woff2') format('woff2');
}
