/* END STYLABLE DIRECTIVE RULES */

#comp-mn20uyd62 .style-mn20uyd92__root{-st-extends: StylableButton;transition: all 0.2s ease, visibility 0s;background: rgba(255, 255, 255, 0);padding-right: 12px}

/* START STYLABLE DIRECTIVE RULES */

#comp-mn20uyd62 .style-mn20uyd92__root:hover{background: rgba(255, 255, 255, 0);border: 0px solid #382213;padding: 0px;padding-right: 12px}

#comp-mn20uyd62 .style-mn20uyd92__root:hover .StylableButton2545352419__label{
    color: #FFFFFF}

#comp-mn20uyd62 .style-mn20uyd92__root:disabled{background: #E2E2E2}

#comp-mn20uyd62 .style-mn20uyd92__root:disabled .StylableButton2545352419__label{color: #8F8F8F}

#comp-mn20uyd62 .style-mn20uyd92__root:disabled .StylableButton2545352419__icon{fill: #8F8F8F}

#comp-mn20uyd62 .style-mn20uyd92__root .StylableButton2545352419__container{transition: inherit;justify-content: space-between}

#comp-mn20uyd62 .style-mn20uyd92__root .StylableButton2545352419__label{transition: inherit;letter-spacing: 0em;margin: 0px 4px 0px 0px;font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;font-size: 14px;color: #FFFFFF}

#comp-mn20uyd62 .style-mn20uyd92__root .StylableButton2545352419__icon{transition: inherit;margin: 0px 0px 0px 4px;width: 40px;height: 40px;fill: #FFFFFF}

#comp-mn20uyd62 .style-mn20uyd92__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF}/* END STYLABLE DIRECTIVE RULES */

#comp-mn20uydi12 .style-mn20uydj2__root{-st-extends: StylableButton;transition: all 0.2s ease, visibility 0s;background: rgba(255, 255, 255, 0);padding-right: 12px}

/* START STYLABLE DIRECTIVE RULES */

#comp-mn20uydi12 .style-mn20uydj2__root:hover{background: rgba(255, 255, 255, 0);border: 0px solid #382213;padding: 0px;padding-right: 12px}

#comp-mn20uydi12 .style-mn20uydj2__root:hover .StylableButton2545352419__label{
    color: #FFFFFF}

#comp-mn20uydi12 .style-mn20uydj2__root:disabled{background: #E2E2E2}

#comp-mn20uydi12 .style-mn20uydj2__root:disabled .StylableButton2545352419__label{color: #8F8F8F}

#comp-mn20uydi12 .style-mn20uydj2__root:disabled .StylableButton2545352419__icon{fill: #8F8F8F}

#comp-mn20uydi12 .style-mn20uydj2__root .StylableButton2545352419__container{transition: inherit;justify-content: space-between}

#comp-mn20uydi12 .style-mn20uydj2__root .StylableButton2545352419__label{transition: inherit;letter-spacing: 0em;margin: 0px 4px 0px 0px;font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;font-size: 14px;color: #FFFFFF}

#comp-mn20uydi12 .style-mn20uydj2__root .StylableButton2545352419__icon{transition: inherit;margin: 0px 0px 0px 4px;width: 40px;height: 40px;fill: #FFFFFF}

#comp-mn20uydi12 .style-mn20uydj2__root:hover .StylableButton2545352419__icon{
    fill: #FFFFFF}