#comp-mn4718kc svg [data-color="1"] {fill: #FFEDD2;}
#comp-mlxbl8o2 svg [data-color="1"] {fill: #EEBE5A;}
#comp-mnb2fhfw svg [data-color="1"] {fill: #FFEDD2;}
#comp-mn470i8m svg [data-color="1"] {fill: #FFEDD2;}
#comp-mn9y82az svg [data-color="1"] {fill: #FFEFDA;}
#comp-mn2669n2 svg [data-color="1"] {fill: #624B40;}
#comp-mn2669nj svg [data-color="1"] {fill: #624B40;}
#comp-mn20omhm1 svg [data-color="1"] {fill: #624B40;}
#comp-mn20omhw svg [data-color="1"] {fill: #624B40;}
#comp-mn20omiv svg [data-color="1"] {fill: #624B40;}
#comp-mn20omiu svg [data-color="1"] {fill: #624B40;}
#comp-mn20pyl92 svg [data-color="1"] {fill: #624B40;}
#comp-mn20pyla2 svg [data-color="1"] {fill: #624B40;}
#comp-mn2b1pq4 svg [data-color="1"] {fill: #FFF4E9;}
#comp-mn2b0bgu svg [data-color="1"] {fill: #FFF4E9;}
#comp-mn9xrifw svg [data-color="1"] {fill: #FFF4E9;}
#comp-mnbat0od svg [data-color="1"] {fill: #EEBE5A;}
#comp-mnbe8fyj svg [data-color="1"] {fill: #624B40;}
#comp-mn2eta5n svg [data-color="1"] {fill: #624B40;}
#comp-mn2etaa0 svg [data-color="1"] {fill: #624B40;}
#comp-mn2f7haf svg [data-color="1"] {fill: #FFF4E9;}
#comp-mn2f7wjs svg [data-color="1"] {fill: #FFEDD6;}
#comp-mn2bhaig svg [data-color="1"] {fill: #FFF4E9;}
#comp-mn2bh3qg svg [data-color="1"] {fill: #FFF4E9;}
#comp-mn2dn0b9 svg [data-color="1"] {fill: #FFECD3;}
#comp-mnba06id svg [data-color="1"] {fill: #624B40;}
#comp-mnba06gu svg [data-color="1"] {fill: #624B40;}
#comp-mn9xx2aa svg [data-color="1"] {fill: #4B3120;}
#comp-mn2br17l svg [data-color="1"] {fill: #4A3120;}
#comp-mn2bs8v4 svg [data-color="1"] {fill: #4A3120;}
#comp-mnb9o2l9 svg [data-color="1"] {fill: #FFEDD6;}
#comp-mn2c0jae svg [data-color="1"] {fill: #FFF4E9;}
#comp-mn2buywx svg [data-color="1"] {fill: #FFE8CA;}
#comp-mn20uydc11 svg [data-color="2"] {fill: #382213;}
#comp-mn46zun3 svg [data-color="1"] {fill: #4B3222;}
#comp-mn46z5cq svg [data-color="1"] {fill: #4B3222;}